<div class="header">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right menu">
        <% if logged_in? %>
          <li><%= link_to t("home"), user_exams_path(current_user) %></li>
          <li><%= link_to t("contribute"), user_questions_path(current_user) %></li>
          <% if current_user.admin? %>
            <li><%= link_to t("users"), admin_users_path %></li>
            <li><%= link_to t("subjects"), admin_subjects_path %></li>
            <li><%= link_to t("admin_exams"), admin_exams_path %></li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t "account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("profile"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t("logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("login"), login_path %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><%= link_to t("name_system") , root_path %></li>
      </ul>
    </div>
  </nav>
</div>
